$default-font: 'Roboto';
$caveat-font: 'Caveat';
$amatic-font: 'AmaticSc';
$default-weight: 400;

$color-white: #fff;
$color-black: black;
$color-persian-red: #cc3e30;

$bg-alabaster: #fafafa;
$bg-thunder: #292728;
$bg-white: #fff;

$bg-thunder-transparent: rgba($bg-thunder, 0.5);

$z-index-10: -10;
$z-index-5: -5;
$z-index-1: -1;

$z-index1: 1;
$z-index5: 5;
$z-index10: 10;
$z-index20: 20;
$z-index30: 30;
$z-index50: 50;
$z-index100: 100;

$success: #86efac;
$error: #ef4444;
