@import 'src/styles/variables.scss';

.photosContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;

	.wrapperImg {
		position: relative;
		flex: 1 0 22rem;
		margin: 1rem;
		color: #fff;
		cursor: pointer;

		transition: all .3s ease-in-out;

		&:hover{
			transform: scale(1.02);
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 400ms ease-out;
			border-radius: 10px;
		}
	}
}
