@import 'src/styles/variables.scss';

.container {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0 10px 0;
		position: relative;
		color: $color-white;
		position: relative;

		.logo {
			padding: 10px 10px 15px 10px;
			transition: all 0.3s ease-in-out;

			&:hover {
				opacity: 0.8;
				transform: scale(1.03);

				@media (max-width: 1080px) {
					&:hover {
						opacity: 1;
						transform: scale(1);
					}
				}
			}
			img {
				width: 200px;

				@media (max-width: 1080px) {
					width: 150px;
					background-color: $bg-thunder;
					padding: 10px;
					border-radius: 10px;
				}

				@media (max-width: 420px) {
					width: 100px;
				}
			}
		}

		.burger {
			display: none;

			@media (max-width: 1080px) {
				display: block;
				position: fixed;
				top: 20px;
				right: 20px;
				z-index: $z-index100;
			}
		}
	}
}

.yesContainer {
	max-width: 100%;
	// padding: 0 20px;

	@media (min-width: 1280px) {
		padding: 0 96px;
	}
}
