@import 'src/styles/variables.scss';
@import 'src/styles/animations.scss';

.alert {
	margin-bottom: 1rem;
	border-radius: 0.375rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: absolute;
	top: 17%;
	right: 5%;

	font-size: 16px;
	font-family: $caveat-font;
	font-family: 500;
	letter-spacing: 1.5px;
}

.success {
	background-color: $success;
	color: $color-black;
}

.error {
	background-color: $error;
	color: $color-white;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.animate-fade {
	animation: opacity 0.5s ease-in-out;
}
