@import 'src/styles/variables.scss';

.wrapper {
	margin-top: 60px;
	margin-bottom: 60px;

	width: 293px;
	height: 233px;
	border: 0.2px solid $bg-thunder;
	display: flex;
	flex-direction: column;

	.benefits {
		font-size: 14px;	
		text-transform: uppercase;
		color: #050505;
		padding: 19px 0 22px 30px;
		background-color: $bg-white;
		border-bottom: 0.2px solid $bg-thunder;
		opacity: 0.6;
		&:last-child {
			border-bottom: none;
		}

		&:hover {
			opacity: 1;
		}
	}

	.active {
		color: $color-persian-red;
		opacity: 1;
	}
}
